#Variáveis Mongo
MONGO_INITDB_ROOT_USERNAME=phgodoycosta
MONGO_INITDB_ROOT_PASSWORD=teste123
MONGO_INITDB_DATABASE=desafio-gdash

#RabbitMQ Autenticação
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

#Url FrontEnd
FRONTEND_URL=http://localhost:3000
MODE=PRODUCTION