#Conexão MongoDB (Campos de exemplo)
MONGO_DB_USERNAME=desafio_gash
MONGO_DB_PASSWORD=deSafIo@123%
MONGO_DB_PORT=27017
MONGO_DB_NAME=desafio_gash_db

#JWT AUTH
JWT_SECRET=asdasdasdasd
JWT_EXPIRATION_TIME=3600

#User Admin:
USER_ADMIN_EMAIL=admin@admin.com
USER_ADMIN_PASSWORD=adMin@298&

#OpenAI Key
OPENAI_API_KEY=

PORT=3001
FRONTEND_URL=http://localhost:5173
API_URL=http://127.0.0.1:3001

#SMTP SERVER
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
