#RabbitMQ Queues Nomes
QUEUE_LOG_NAME=worker
QUEUE_DAILY_NAME=worker_daily
RABBIT_URL=amqp://guest:guest@localhost:5672/

#URL da API Nest
API_URL=http://127.0.0.1:3001

# Autenticação ADMIN:
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=adMin@298&