#Credenciais do Mongo, EX:
MONGO_CLIENT="mongodb://dgdash:gdash123@rabbitmq:27017/"
MONGO_DB="desafio-gdash"

# RabbitMQ:
RABBITMQ_DEFAULT_HOST=rabbitmq
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest



# Server:

# Mongo:
#MONGO_CLIENT="mongodb://phgodoycosta:teste123@localhost:27017/" #Dev
MONGO_CLIENT="mongodb://gdashmongouser:gDash123@mongo:27017/"
MONGO_DB="desafio-gdash"

# RabbitMQ:
#RABBITMQ_HOST="localhost" #Versão DEV
RABBITMQ_DEFAULT_HOST=rabbitmq
RABBITMQ_DEFAULT_USER=dgdash-rabbit
RABBITMQ_DEFAULT_PASS=gDash123
