#Credenciais do Mongo, EX:
MONGO_CLIENT="mongodb://dgdash:gdash123@rabbitmq:27017/"
MONGO_DB="desafio-gdash"

# RabbitMQ:
RABBITMQ_DEFAULT_HOST=rabbitmq
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest